<div id="<%= dom_id event %>">
  <h3><%= link_to event.name, city_event_path(@city, event) %></h3>
  <p>Date: <%= event.event_date.strftime("%B %d, %Y %H:%M") %></p>
  
  <% if event.end_date.present? %>
    <p>End Date: <%= event.end_date.strftime("%B %d, %Y %H:%M") %></p>
  <% else %>
    <p>End Date: Non specificato</p>
  <% end %>
  
  <p>Description: <%= event.description %></p>

</div>
