<p style="color: green"><%= notice %></p>

<h1><%= @event.name %></h1>
<p>Start Date: <%= @event.event_date.strftime("%B %d, %Y %H:%M") %></p>
<p>Description: <%= @event.description %></p>
<p>Link: <%= link_to @event.link, @event.link %></p>