<p style="color: green"><%= notice %></p>

<h1><%=@city.name + ", " + @city.country%> </h1>


<div class="central-column">
  <h2><%=link_to "Events",city_events_path(@city) %></h2>
  <% @city.events.order(event_date: :asc).limit(3).each do |event| %>
    <div class="event-item">
       <h3><%= link_to event.name, city_event_path(@city, event) %></h3>
      <p>Date: <%= event.event_date.strftime("%B %d, %Y  %H:%M") %></p>
      <!-- Aggiungi altre informazioni sull'evento se necessario -->
    </div>
  <% end %>
</div>



<% if @city.photos.any? %>
<!-- Aggiunta della footer per le foto -->
<footer>
  <div class="footer-photos">
    <% @city.photos.each do |photo| %>
      <%= image_tag photo.image_url, alt: @city.name, class: "footer-city-image" %>
    <% end %>
  </div>
</footer>

<% else %>
  <p>Immagine non disponibile</p>
<% end %>

<!-- Inizio del commento 
<div>
  <%= link_to "Edit this city", edit_city_path(@city) %> |
  <%= link_to "Back to cities", cities_path %>

  <%= button_to "Destroy this city", @city, method: :delete %>
</div>
fine del commento -->


