<p style="color: green"><%= notice %></p>

<%= render @city %>


<div class="central-column">
  <h2>Top 10 Events in <%= @city.name %></h2>
  <% @city.events.order(date: :asc).limit(10).each do |event| %>
    <div class="event-item">
      <h3><%= event.name %></h3>
      <p><%= event.description %></p>
      <p>Date: <%= event.event_date.strftime("%B %d, %Y") %></p>
      <!-- Aggiungi altre informazioni sull'evento se necessario -->
    </div>
  <% end %>
</div>



<% if @city.photos.any? %>
<!-- Aggiunta della footer per le foto -->
<footer>
  <div class="footer-photos">
    <% @city.photos.each do |photo| %>
      <%= image_tag photo.image_url, alt: @city.name, class: "footer-city-image" %>
    <% end %>
  </div>
</footer>

<% else %>
  <p>Immagine non disponibile</p>
<% end %>

<!-- Inizio del commento 
<div>
  <%= link_to "Edit this city", edit_city_path(@city) %> |
  <%= link_to "Back to cities", cities_path %>

  <%= button_to "Destroy this city", @city, method: :delete %>
</div>
fine del commento -->


