<p style="color: green"><%= notice %></p>

<h1><%=@city.name + ", " + @city.country%> </h1>


<div class="central-column">
  <h2><%=link_to "Events",city_events_path(@city) %></h2>
  <% @city.events.order(event_date: :asc).limit(3).each do |event| %>
    <div class="event-item">
       <h3><%= link_to event.name, city_event_path(@city, event) %></h3>
      <p>Date: <%= event.event_date.strftime("%B %d, %Y  %H:%M") %></p>
      <!-- Aggiungi altre informazioni sull'evento se necessario -->
    </div>
  <% end %>
</div>


<% if @city.photos.any? %>
<!-- Aggiunta della footer per le foto -->
<footer>
  <div id="carouselExampleIndicators" class="carousel slide footer-photos" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @city.photos.each_with_index do |photo, index| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @city.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag photo.image_url, alt: @city.name, class: "d-block w-100" %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</footer>
<% end %>


<!-- Sezione Meteo -->
<% if @weather[:error] %>
  <p><%= @weather[:error] %></p>
<% else %>
  <p>Temperatura: <%= @weather[:temperature] %>°C</p>
  <p>Descrizione: <%= @weather[:description] %></p>
  <p>Datetime: <%= @weather[:datetime] %></p>
<% end %>


<!-- Inizio del commento 
<div>
  <%= link_to "Edit this city", edit_city_path(@city) %> |
  <%= link_to "Back to cities", cities_path %>

  <%= button_to "Destroy this city", @city, method: :delete %>
</div>
fine del commento -->


